# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
# Your code goes here
import pandas as pd
df_CSV1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
df_CSV1.columns = df_CSV1.columns.str.lower().str.replace(" ", "_")
df_CSV1.rename(columns= {'st': 'state'}, inplace=True) #change column name inplace

df_CSV2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
df_CSV2.columns = df_CSV2.columns.str.lower().str.replace(" ", "_")
df_CSV2.rename(columns= {'st': 'state'}, inplace=True) #change column name inplace

df_CSV3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")
df_CSV3.columns = df_CSV3.columns.str.lower().str.replace(" ", "_")
df_CSV3.rename(columns= {'st': 'state'}, inplace=True) #change column name inplace

In [28]:
DF = pd.concat([df_CSV1, df_CSV2, df_CSV3], axis=0)
DF.shape

(12074, 11)

In [6]:
# Harmonising state
DF.state=DF.state.replace("WA", "Washington") #we are replacing WA for Washington to harmonise result
DF.state=DF.state.replace("AZ", "Arizona")
DF.state=DF.state.replace("Cali", "California")

In [7]:
DF.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [8]:
# Harmonising gender
DF['gender']=DF['gender'].replace("Male", "M")
DF['gender']=DF['gender'].replace("female", "F")
DF['gender']=DF['gender'].replace("Femal", "F")

In [9]:
#harmonising education
DF['education']=DF['education'].replace("Bachelors", "Bachelor")

In [10]:
#Remove %
DF['customer_lifetime_value'] = DF['customer_lifetime_value'].str.replace('%','')

In [11]:
#harmonising vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" for "Luxury"
DF['vehicle_class'] = DF['vehicle_class'].str.replace('Sports Car', 'Luxury')
DF['vehicle_class'] = DF['vehicle_class'].str.replace('Luxury SUV', 'Luxury')
DF['vehicle_class'] = DF['vehicle_class'].str.replace('Luxury Car', 'Luxury')

In [12]:
DF['number_of_open_complaints'] = DF['number_of_open_complaints'].str.split('/').str[1]

In [22]:
df = DF.copy()

In [23]:
df.isnull().sum() #checking all the Null values and adding each per column

customer                      2937
state                         2937
gender                        3059
education                     2937
customer_lifetime_value      10014
income                        2937
monthly_premium_auto          2937
number_of_open_complaints    10007
policy_type                   2937
vehicle_class                 2937
total_claim_amount            2937
dtype: int64

In [16]:
df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [25]:
df=df.drop(["customer_lifetime_value"], axis=1) # 10,014 NaNs out of 12,074 rows --> delete column
df=df.drop(["number_of_open_complaints"], axis=1) # 10,007 NaNs out of 12,074 rows --> delete column

In [26]:
df.shape

(12074, 9)

In [33]:
# Checking the % of null values we have per column
rows=df.shape[0]
round((df.isnull().sum())/rows*100,2)

customer                24.32
state                   24.32
gender                  25.34
education               24.32
income                   0.00
monthly_premium_auto     0.00
policy_type             24.32
vehicle_class           24.32
total_claim_amount       0.00
dtype: float64

In [34]:
round(df.describe(),2)

         income  monthly_premium_auto  total_claim_amount
count  12074.00              12074.00            12074.00
mean   37828.82                110.39              430.53
std    26409.11                505.74              251.91
min        0.00                 61.00                0.10
25%    21585.25                 71.00              311.03
50%    37828.82                101.00              430.53
75%    53301.75                110.39              494.35
max    99981.00              35354.00             2893.24

In [32]:
## Filling in info with MEAN
# INCOME
mean_income = round(df.income.mean(),2) #create variable for mean
df["income"] = df["income"].fillna(mean_income) # fillna()

# MONTHLY PREMIUM AUTO
mean_mpa = round(df.monthly_premium_auto.mean(),2)
df['monthly_premium_auto'] = df['monthly_premium_auto'].fillna(mean_mpa)

# TOTAL CLAIM
mean_claim = round(df.total_claim_amount.mean(),2)
df['total_claim_amount'] = df['total_claim_amount'].fillna(mean_claim)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [35]:
# Your code goes here
df_mkt = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")
df_mkt.columns = df_mkt.columns.str.lower().str.replace(" ", "_")
df_mkt.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [63]:
df_mkt.shape

(10910, 27)

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [54]:
pivot_df = round(df_mkt.pivot_table(index='sales_channel',
                             values='customer_lifetime_value'),2)
pivot_df.head(3)

               customer_lifetime_value
sales_channel
Agent                          8021.81
Branch                         8060.62
Call Center                    8110.36

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [59]:
pivot_df2 = round(df_mkt.pivot_table(index='education',
                                     columns='gender', 
                                     values='customer_lifetime_value'),2)
pivot_df2.head(3)

gender           F        M
education
Bachelor   7874.27  7703.60
College    7748.82  8052.46
Doctor     7328.51  7415.33

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here

In [62]:
df_mkt['effective_to_date'] = df_mkt['effective_to_date'].str.split('-').str[1] #we only grab the month

In [64]:
pivot_df3 = round(df_mkt.pivot_table(index='policy_type',
                                     columns='effective_to_date', 
                                     values=''),2)
pivot_df3.head(3)

KeyError: ''